.post-item,
.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-header {
    justify-content: space-between;
    width: 100%;

   
}
button {
    background-color: rgb(224, 110, 69);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

   
}
svg {
    fill: white;
}

svg:hover {
    background-color: rgba(224, 110, 69, 0.8);
}
.inner-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b4b4b4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 24px 23px 44px -15px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 24px 23px 44px -15px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 24px 23px 44px -15px rgba(0, 0, 0, 0.26);
}

.form {
    div {
        display: flex;
        gap: 8px;

        div {
            display: flex;
            flex-direction: column;
            flex: 1;

            label {
                flex: 1;
            }

            input {
                border: #b4b4b4 1px solid;
                padding: 8px 16px;
                flex: 1;
                border-radius: 4px;
                margin-bottom: 8px;
            }
        }
    }
}

button {
    border: none;
    border-radius: 4px;
    background-color: rgb(224, 110, 69);
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}

.options {
    display: flex;
    gap: 8px;
}

img{
    max-width: 512px;
    max-height: 512px;
    margin-bottom: 48px;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow: hidden;
}
.perfil img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #b4b4b4;
}