section {
    background-color: rgb(224, 110, 69);
    color: white;
    border-bottom: 1px solid rgb(224, 110, 69);
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section div {
    fill: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
}

section div svg {
    transition: all 0.3s ease-in-out;
}

section div svg:hover {
    fill: #4FCDF0;
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: inherit;
}
